.answer-button-default {
    font-size: 14px;
    border-radius: 7px;
    border: 1px solid var(--primary);
    color: var(--text);
    background-color: transparent;
    padding: 5px;
    margin-right: 15px;
    cursor: pointer;
    min-width: 100px;
}

.answer-button-selected {
    background-color: var(--selected);
    color: var(--bg);
    font-size: 14px;
    border-radius: 7px;
    border: none;
    padding: 5px;
    margin-right: 15px;
    cursor: pointer;
    min-width: 100px;
}

.question-container {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    position: relative;
}

.question-text {
    color: var(--question-text);
}

.question-button-incorrect { 
    background-color: var(--incorrect);
    color: var(--bg);
    min-width: 100px;
}

.question-button-correct {
    background-color: var(--correct);
    color: var(--bg);
    min-width: 100px;
}

.correct-icon {
    color: var(--correct);
}

.incorrect-icon {
    color: var(--incorrect);
}

.correct-icon, .incorrect-icon {
    position: absolute;
    right: 70px;
    top: 40%;
}