.start-page-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
} 

.start-page-title > .quizzical {
    color: var(--primary);
}

.selection-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 50px;
}

.selection-container > select {
    text-align: center;
    border: 2px solid var(--text);
    border-radius: 5px;
    width: 200px;
    height: 30px;
    box-shadow: var(--box-shadow);
    background-color: var(--bg);
    color: var(--text);
    cursor: pointer;
    margin-left: 20px;
}

.label {
    font-weight: 700;
    font-size: 16px;
}

@media screen and (max-width: 800px) {
    .start-page-container {
        width: 90%;
    }

    .begin-button {
        align-self: center;
    }
}

@media screen and (max-width: 520px) {
    .start-page-container {
        width: 90%;
    }

    .start-page-title {
        font-size: 30px;
    }
    
    .selection-container {
        width: 95%;
    }

    .begin-button {
        align-self: center;
    }
}