@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

.light-theme {
  --bg: #F5F7FB;
  --text: #28282E;
  --question-text: #293264;
  --correct: #94D7A2;
  --incorrect: #e47a7a;
  --selected: #D6DBF5;
  --primary: #4D5B9E;
}

.dark-theme {
  --bg: #28282E;
  --text: #F5F7FB;
  --question-text: #e3e4ec;
  --correct: #94D7A2;
  --incorrect: #e47a7a;
  --selected: #D6DBF5;
  --primary: #4D5B9E;
}

.theme-btn {
  border: none;
  background: transparent;
  color: var(--text);
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 70px;
}

@media screen and (max-width: 468px) {
  .theme-btn {
    top: 30px;
    right: 20px;
  }
}

#root {
  position: relative;
  height: 100vh;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Karla', sans-serif;
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .3s linear;
}



@media screen and (max-width: 380px) {
  body {
    padding-top: 3rem;
  }
}
